<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <div style="background-color: black;">
      <a href="/"><img src="/logo/logo.png" alt="logotipo" style="width: 100px;"></a>
  
    </div>
  
    <main class="container login my-5">
      <form action="/admin/create" method="POST" enctype="multipart/form-data" id="form-create">
        <h2 class="my-3">Agregar</h2>
<!--cuando se indexa o da formato se agrega un espacio a todos los undefined provocando un error revisar!!! -->
        <div class="row">
          <div class="col-12  col-md-6">
           <img class="img-fluid" src="" id="vistaPrevia" name="vistaPrevia" alt="">
          </div>
          <div class="col-12  col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" name="name" value="<%=(typeof old != "undefined"&&
                old.name) ? old.name:"" %>">

              <spam class="text-danger">
                <%=(typeof errores!="undefined" && errores.name)? errores.name.msg:""%>
              </spam>
              <label for="price">Nombre del Producto</label>
            </div>


            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="price" name="price">
              <spam class="text-danger">
                <%=(typeof errores!="undefined" && errores.price)? errores.price.msg:""%>
              </spam>
              <label for="price">Precio</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="description" name="description" value="<%= (typeof old!="undefined" && old.description) ? old.description:"" %>" >
              <label for="description">Description</label>
              <spam class="text-danger">
                <%=(typeof errores!="undefined" && errores.description)? errores.description.msg:""%>
              </spam>
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" name="category" id="category" aria-label="Floating label select example">
              <option value="" selected hidden>Categorias</option>
                <% categorias.forEach(categoria=> {%>
                  <option value="<%= categoria.id %>">
                    <%=categoria.name %>
                  </option>
                  <% }) %>
              </select>
              <label for="floatingSelect">Elegí tu categoria</label>

            </div>
            <div class="mb-3">
                <input name="image" class="form-control " type="file" id="image">
                 <spam class="text-danger" id="errorImage"></spam>
             </div>
            <div class="mb-3">
              <spam class="text-danger" id="msgError"></spam>
    
              <button class="btn btn-outline-primary" type="submit">Guardar</button>
    
    

          </div>

        </div>









       
         


      </form>

      <a href="/admin/comidaList">|VOLVER ATRAS|</a>

    </main>
    <%- include('../partials/footer') %>
    <script src="/javascript/productAdd.js"></script>

  </body>

</html>