<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<body>
    <header>
        <nav class="container-fluid ">
           <!--logo-->
           <div class="row ">
              <div class="col-6 logos">
                 <img src="../logo/logo.png" alt="logotipo" class="img-fluid">
              </div>
              <!--pedi online-->
              <div class="col-6 logos">
                 <div class="col-12 ">
                    <div class="box-1">
                       <button type="button" class="btn btn-outline-dark mt-4">PEDI ONLINE</button>
                    </div>
                 </div>
                 <div class="col-12">
                    <ul class="p-0 usuario">
                       <li><a href="">Lista de productos<br><i class="fas fa-sign-in-alt "></i></a></li>
                       <li><a href="https://checkpoint-restobar.blogspot.com/">Nuestro<br>Blog<i class="far fa-address-card "></i></a></li>
                      
                       <li><a href="/admin/admin/create">agregar productos<br><i class="fas fa-sign-in-alt "></i></a></li>
                    </ul>
                 </div>
              </div>
             
           </div>
     
              <!--secciones-->
              <div class="row ">
                 <nav class="navbar navbar-expand-md navbar-dark navigator">
                    <div class="container-fluid">
     
                       <button class="navbar-toggler mx-comida" type="button" data-bs-toggle="collapse"
                          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon burger"></span>
                       </button>
                       <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
     
                          <li class="navi"> <a class="" href="/cartadelivery ">CARTA</a></li >
                          <li class="navi"> <a class="" href="/locales">LOCALES</a> </li >
                          <li class="navi"> <a class="" href="/reservas">RESERVAS</a> </li >
                          <li class="navi"> <a class="" href="/promociones">PROMOCIONES</a></li>
                          <li class="navi"> <a class="" href="/novedades">NOVEDADES</a> </li >
     
     
     
                          <form class="d-flex">
     
                          </form>
                       </div>
                    </div>
                 </nav>
              </div>
        </nav>
     </header>

    <main class="container">
        <section class="row ">
          <% comidas.forEach(comida=> { %>
            <article class="col-12 col-md-4 col-lg-3 ">
              <ul class="list-group list-group-flush my-3 ">
                <li class="list-group-item">
                  <h4>
                      <%= comida.name %> 
                  </h4>
                </li>
                <li class="list-group-item">
                  <h5>
                    <%= comida.price %> 
                  </h5>
                </li>
                <li class="list-group-item">
                  <h6>
                    <%= comida.category %> 
                  </h6>
                </li>
                <li class="list-group-item">
                  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= comida.id %> ">
                  <%= comida.img %></a>
                </li>
                <li class="list-group-item">
                  <div class="m-2 d-flex justify-content-around">
                   <a href="/admin/admin/edit/<%= comida.id %> " class="btn btn-sm btn-success">Editar</a>
                   <form action="/admin/admin/delete/<%= comida.id %>?_method=DELETE " method="POST">
                     <button class="btn btn-sm btn-danger" type="submit">Eliminar</button>
                   </form>
                  </div>
                </li>
              </ul>
            </article>  
            <!-- Modal -->
            <div class="modal fade" id="exampleModal-<%= comida.id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel"><%= comida.name %> - <%= comida.precio %> </h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img src="/images/<%= comida.img %> " class="img-fluid" alt="">
                  </div>
                 
                </div>
              </div>
            </div>
        
            <% }) %>

            
        </section>
      </main>
      <%- include('../partials/footer') %> 
    

</body>
</html>