<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<body>
    <header>
        <nav class="container-fluid ">
           <!--logo-->
           <div class="row ">
              <div class="col-6 logos">
                 <img src="../logo/logo.png" alt="logotipo" class="img-fluid">
              </div>
              <!--pedi online-->
              <div class="col-6 logos">
                 <div class="col-12 ">
                    <div class="box-1">
                       <button type="button" class="btn btn-outline-dark mt-4">PEDI ONLINE</button>
                    </div>
                 </div>
                 <div class="col-12">
                    <ul class="p-0 usuario">
                       <li><a href="">Lista de productos<br><i class="fas fa-sign-in-alt "></i></a></li>
                       <li><a href="https://checkpoint-restobar.blogspot.com/">Nuestro<br>Blog<i class="far fa-address-card "></i></a></li>
                      
                       <li><a href="../agregarproducto.ejs">agregar productos<br><i class="fas fa-sign-in-alt "></i></a></li>
                    </ul>
                 </div>
              </div>
             
           </div>
     
              <!--secciones-->
              <div class="row ">
                 <nav class="navbar navbar-expand-md navbar-dark navigator">
                    <div class="container-fluid">
     
                       <button class="navbar-toggler mx-comida" type="button" data-bs-toggle="collapse"
                          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon burger"></span>
                       </button>
                       <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
     
                          <li class="navi"> <a class="" href="/cartadelivery ">CARTA</a></li >
                          <li class="navi"> <a class="" href="/locales">LOCALES</a> </li >
                          <li class="navi"> <a class="" href="/reservas">RESERVAS</a> </li >
                          <li class="navi"> <a class="" href="/promociones">PROMOCIONES</a></li>
                          <li class="navi"> <a class="" href="/novedades">NOVEDADES</a> </li >
     
     
     
                          <form class="d-flex">
     
                          </form>
                       </div>
                    </div>
                 </nav>
              </div>
        </nav>
     </header>

    <main class="container">
        <form action="/admin/admin/update/<%= comida.id %>?_method=PUT " method="POST">
          <h3>Editar</h3>
          <hr>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="modelo" placeholder="nombre" name="nombre" value="<%= comida.nombre %> ">
                <label for="name">nombre</label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="modelo" placeholder="price" name="price" value="<%= comida.price %> ">
                <label for="price">price</label>
              </div>
            </div>
           
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="category" placeholder="category" name="category" value="<%= comida.category %> ">
                <label for="category">category</label>
              </div>
            </div>
            <div class="col-md-6">
               <div class="form-floating mb-3">
                 <input type="text" class="form-control" id="description" placeholder="description" name="description" value="<%= comida.description %> ">
                 <label for="description">description</label>
               </div>
            <div class="col-lg-6">
              <div class="form-floating mb-3">
               <input type="file" name="img">
              </div>
            </div>
          
          </div>
        
          <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit">Guardar los cambios</button>
          </div>
        
         
          </form>
        </main>
    <%- include('../partials/footer')  %> 

</body>
</html>