<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include("../partials/header") %>
            <h2 class="oferta">-LISTA DE USUARIO-</h2>

            <div class="container">
                <table class="table table-dark table-striped boxs">
                    <thead>
                        <tr>
                            <th class="" scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Email</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Editar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <tr>
                                <th scope="row"><%= user.id %></th>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%=user.surname%>
                                </td>
                                <td>
                                    <%=user.email%>
                                </td>
                                <td>
                                    <%=user.category%>
                                </td>



                                <td class="d-flex justify-content-around">
                                    <form action="">
                                        <% if (user.category == 1) { %>
                                          <button   onClick="return adminChange( `<%= user.id %>` ,event,true )" id='btnAdmin' type="submit" class="btn btn-warning btn-sm"><i class="fas fa-user-cog"></i></button>
                                        <% }else{ %>
                                            <button   onClick="return adminChange( `<%= user.id %>` ,event,false)" id='btnUser' type="submit" class="btn btn-light btn-sm" style="color:grey;"><i class="fas fa-user-cog"></i></button>
                                        <% } %>
                                      </form>

                                    <form action="/user/admin/remove/<%=user.id%>?_method=DELETE" method="POST"
                                        id="delete">
                                        <button type="submit" class="btn btn-danger btn-sm"><i
                                                class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>

                            <% }); %>

                    </tbody>
                </table>
                <a href="/admin">|VOLVER ATRAS|</a>
            </div>








            <%- include('../partials/footer') %>

            <script>
                //let btnAdmin = document.getElementById('btnAdmin')
                //let btnAdmin = document.getElementById('btnUser')
      
            const adminChange = async(id, e,admin => {
                  e.preventDefault()
                  try {
                    let response = await fetch(window.location.origin +'/admin/changeAdmin/'+ id + '/'+ admin)
                    let result = await response.json()
                    console.log(result)
                    location.reload()
                  } catch (error){
                    console.log(error);
                  }
                }
         )
        
              </script>
      
    </body>

</html>