<html>
<title>Carta</title>
 <%- include('partials/head')%>
 <%- include('partials/header')%>
 
 <body> 
        <div class="container">
        <div class="row">
	
       
          
           <div class="col-3">
            <h5>BEBIDAS</h5>
            <%bebibas.forEach(bebida => {%>
            
       
        
           <ul>
		
                <a  href="/productos/detalledeproducto/<%=bebida.id%>"><%=bebida.name%></a>
              
              </ul>
          <% });%>
		</div>
	
    
      
      <div class="col-3">
        <h5>POSTRES</h5>
            <%postres.forEach(postre => {%>
            
       
        
          <ul>
		
                <a href="/productos/detalledeproducto/<%=postre.id%>"><%=postre.name%></a>
              
              </ul>
          <% });%>
		 </div>
    
        <div class="col-3"> 
          <h5>HAMBURGUESAS</h5>
            <%hamburguesas.forEach(hamburguesa=> {%>
            
       
        <ul>
          
		
                <a class="col" href="/productos/detalledeproducto/<%=hamburguesa.id%>"><%=hamburguesa.name%></a>
              </ul>
                   
          <% });%>
		</div>
		
        <div class="col-3">
          <h5>PIZZA Y EMPA</h5>
            <%pizzas.forEach(pizza => {%>
            
       
        <ul>
          
		
                <a  href="/productos/detalledeproducto/<%=pizza.id%>"><%=pizza.name%></a>
              </ul>
                   
          <% });%>
		
        </div></div></div>

  </body>

	<%- include('partials/footer') %> 
 
</html>

