<html>
<title>Carta</title>
 <%- include('partials/head')%>
 <%- include('partials/header')%>
 
 <body> 
        <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
	
        <div class="col"><h5>BEBIDAS</h5>
            <%bebibas.forEach(bebida => {%>
            
       
        
          
		
                <a class="col" href="/productos/seccionBebidas"><%=bebida.name%></a>
              
                   <br>
          <% });%>
		</div>
	
        <div class="col"><h5>POSTRES</h5>
            <%postres.forEach(bebida => {%>
            
       
        
          
		
                <a class="col" href="/productos/seccionBebidas"><%=bebida.name%></a>
              <br>
                   
          <% });%>
		 </div>
        
        <div class="col"> <h5>HAMBURGUESAS</h5>
            <%hamburguesas.forEach(bebida => {%>
            
       
        
          
		
                <a class="col" href="/productos/seccionBebidas"><%=bebida.name%></a>
              <br>
                   
          <% });%>
		</div>
		
        <div class="col"><h5>PIZZA Y EMPA</h5>
            <%pizzas.forEach(bebida => {%>
            
       
        
          
		
                <a class="col" href="/productos/seccionBebidas"><%=bebida.name%></a>
              <br>
                   
          <% });%>
		
        </div></div></div>

  </body>

	<%- include('partials/footer') %> 
 
</html>

