<html>
<title>Carta</title>
 <%- include('partials/head')%>
 <%- include('partials/header')%>
 
 <body> 
        <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-3">
	
        <h5>BEBIDAS</h5>
           <ul>
          <%bebibas.forEach(bebida => {%>
            
       
        
          
		
                <li><a class="col" href="/productos/seccionBebidas"><%=bebida.name%></a></li>
              
                  
          <% });%>
        </ul>
		</div>
  </div>
	
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h5>POSTRES</h5>
           <ul>
          <%postres.forEach(bebida => {%>
            
       
        
          
		
              <li>  <a class="col" href="/productos/seccionBebidas"><%=bebida.name%></a></li>
              <br>
                   
          <% });%>
        </ul>
        </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
           <h5>HAMBURGUESAS</h5>
           <ul>
          <%hamburguesas.forEach(bebida => {%>
            
       
        
          
		
              <li>  <a class="col" href="/productos/seccionBebidas"><%=bebida.name%></a></li>
              
                   
          <% });%>
        </ul>
        </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h5>PIZZA Y EMPA</h5>
          <ul>
          <%pizzas.forEach(bebida => {%>
            
       
        
          
		
               <li> <a class="col" href="/productos/seccionBebidas"><%=bebida.name%></a></li>
              
                   
          <% });%>
        </ul>
        </div></div></div>

  </body>

	<%- include('partials/footer') %> 
 
</html>

