<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <%- include("./partials/header") %>
            <div class="login my-4 w-75 mx-auto boxs">
                <section class="row">
                    <article class="col-12 col-md-6">
                        <img src="/images/<%=producto.image%>">
                    </article>
                    <article class="col-12 col-md-6 d-flex flex-column align-center ">
                        <h2 class="text-center">
                            <%=producto.name%>
                        </h2>
                        <p>
                            <%=producto.description%>
                        </p>
                        <h4>
                            $ <%=producto.price%>
                        </h4>
                        <button type="button"class="btn btn-outline-primary">Comprar</button>
                    </article>
                </section>
            </div>
            <%- include('./partials/footer') %>
    </body>