<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/agregarProducto.css" rel=StyleSheet >
    <title>agregar</title>
</head>
<body>
    
 <%- include('partials/head')%>
    <h4>NUEVO PRODUCTO</h4>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="register col-4 col-md-6 ">
                
                <h2>Editar plato</h2><br>
 
                <form action="/formularios/update/<%=editarplato.id%>?_method=PUT" method="POST" >
                             <input  type="text" value="usuario de administrador" class="admin"><br><br>
                             <input name="nombrePlato" type="password" value="Contraseña" class="pass"><br><br>
                             <input name="tituloPlato" type="text" value="<%=editarplato.name%>" class="titulo"><br><br>
                             <input name="descripcionPlato" type="text" value="<%=editarplato.description%>" class="descripcion"><br><br>
                             <input name="precioPlato" type="text" value="<%=editarplato.price%>" class="precio"><br><br>
                             <label for="formFile" class="form-label"><%=editarplato.image%></label>
                             <input name="avatar" class="form-control" type="file" id="formFile">
                             <input name="id" type="hidden" value="<%=editarplato.id%>" class="titulo"><br><br>
                             
                            
                             
                     </select>
                            
                            
                            
                             <button type="submit">guardar</button>
                             
                          </form>

               </div>
               <div class="col-5"></div>
               <div class="row">
                  <div class="register col-12 col-md-6 ">

                  </div>
                </div>

</body>
</html>