<title>ingreso</title>
<%- include('partials/header') %>

  <body>
    <%- include('partials/head') %>

      <div class="container">
        <div class="row">

          <div class="login col-12 ">
            <p>INICIAR SESIÓN</p>
            <form action="/users/login" method="post" id="formLogin">
              <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <input class="form-control w-50" type="Email" placeholder="Email"  name="email" id="email" >
                <span class="text-danger"
                id="emailErrors"><%= (typeof errores != 'undefined' && errores.email ? errores.email.msg : null) %> 
              </span>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <input class="form-control w-50" type="password" placeholder="Contraseña" name="pass" id="pass">
                <span class="text-danger" id="passErrors">
                  <%= (typeof errores !='undefined' && errores.pass ? errores.pass.msg : null) %>
                </span>
             </div>
             <div class="d-flex flex-column justify-content-center align-items-center mb-4">
             <label class="btn btn-primary w-50">
             <input type="checkbox" name="recordar" value="recordar" autocomplete="off"> Recordar
             </label>
             </div>
            </div>

           <div>
             <button class="btn btn-danger mb-2" type="submit" value="Enviar">Entrar</button>
             <span id="submitErrors"></span>
           </div>

            </form>
          </div>
        </div>
        <a href="/users/registro"> ¿no estas registrado? registrate aca</a>
      </div>
     
      <%- include('partials/footer') %>
        <script src="/javascript/userLogin.js"></script>
  </body>

  </html>