<!DOCTYPE html>
<html lang="es">
 
  <%- include("partials/head") %> 
  <%- include("partials/header") %>
 <body>
 
      <div class=" profile-row ">
    <section class="section about-section gray-bg" id="about">
      <div class="container">
          <div class="row align-items-center flex-row-reverse">
              <div class="col-lg-6">
                  <div class="about-text go-to">
                      <h4 class="dark-color">TUS DATOS PERSONALES</h4>
                      <h1 class="theme-color lead ">CheckPoint</h1>
                      
                      <div class="row about-list">
                          <div class="col-md-6">
                              <div class="media">
                                  <label><h3>Nombre</h3></label>
                                  <p> <%= Usuario.name  %></p>
                              </div>
                              <div class="media">
                                  <label><h3>Apellido</h3></label>
                                  <p><%=  Usuario.surname  %></p>
                              </div>
                              <div class="media">
                                  <label><h3>Email</h3></label>
                                  <p><%=  Usuario.email  %></p>
                              </div>
                              <div class="media">
                                  <label><h3>Dirección</h3></label>
                                  <p><%= Usuario.direccion %></p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="media">
                                  <label><h3>Localidad</h3></label>
                                  <p><%= Usuario.localidad %></p>
                              </div>
                              <div class="media">
                                  <label><h3>Provincia</h3></label>
                                  <p><%= Usuario.provincia %></p>
                              </div>
                              <div class="media">
                                  <label><h3>Teléfono</h3></label>
                                  <p><%= Usuario.telefono %></p>
                              </div>
                              <div class="media">
                                <p></p>
                                <button class="btn btn-outline-primary mb-2"><a href="/users/edit/<%= Usuario.id  %>">Editar perfil</a> </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="about-avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  </div>
              </div>
            </div>
          </div>
      </section>
       <%- include("partials/footer") %>
  </body>

</html>