<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>
    <%- include("partials/header") %>

        <body>

            <div class="container">
                <div class="login">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class="about-avatar">
                                <img class="img-fluid w-75" src="/images/users/<%= Usuario.avatar %> " alt="">
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <h4 class="dark-color">TUS DATOS PERSONALES</h4>
                            <h3 class="text-violet">CheckPoint</h3>
                            <hr>
                            <div class="row ">
                                <div class="col-12 col-md-6 d-flex justify-content-start">
                                    <h5>Nombre: <span>
                                            <%= Usuario.name %>
                                        </span></h5>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-start">
                                    <h5>Apellido: <span>
                                            <%= Usuario.surname %>
                                        </span></h5>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-start">
                                    <h5>Email: <span>
                                            <%= Usuario.email %>
                                        </span></h5>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-start">
                                    <h5>Teléfono: <span>
                                            <%= Usuario.telefono %>
                                        </span></h5>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 d-flex justify-content-start">
                                    <h5>Dirección: <span>
                                            <%= Usuario.direccion %>
                                        </span></h5>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-start">
                                    <h5>Localidad: <span>
                                            <%= Usuario.localidad %>
                                        </span></h5>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-start">
                                    <h5>Provincia: <span>
                                            <%= Usuario.provincia %>
                                        </span></h5>
                                </div>
                            </div>
                            <hr>
                            <a class="btn btn-outline-primary" href="/users/profileEdit/<%= Usuario.id  %>">Editar
                                perfil</a>
                        </div>
                    </div>

                </div>
            </div>

            <%- include("partials/footer") %>
        </body>

</html>