<!DOCTYPE html>
<html lang="es">
  <%- include("partials/header") %>


 <body>
  <%- include("partials/head") %> 

    <div class="container login col-12 mx-auto">
      <div class=" profile-row ">
        
        <ul class="list-group">
          <img src="/images/userAvatar/<%= Usuario.avatar %> " alt="">
          <li class="list-group-item"><p>Nombre : <%= Usuario.name  %></p></li>
          <li class="list-group-item"><p>Apellido : <%=  Usuario.surname  %></p></li>
          <li class="list-group-item"><p>Email : <%=  Usuario.email  %></p></li>
          <li class="list-group-item"><p>Dirección : <%= Usuario.direccion %></p></ul>
          <li class="list-group-item"><p>Localidad : <%= Usuario.localidad %></p></ul>
          <li class="list-group-item"><p>Provincia : <%= Usuario.provincia %></p></ul>
          <li class="list-group-item"><p>Teléfono : <%= Usuario.telefono %></p></ul>
        </ul>
        <div class="col-12 col-md-8 col-lg-6 mx-auto mb-2">
        <button class="btn btn-outline-primary mb-2"><a href="/users/edit/<%= Usuario.id  %>">Editar perfil</a> </button> 
        </div>
      </div>
    </div>
      



    <%- include("partials/footer") %>
  </body>

</html>