<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
      <div class="container">
        <div class="profile-edit login boxs ">


          <form action="/users/profileEdit/<%= Usuario.id %>?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <div class="row boxs">
              <div class="col-12 col-md-5 boxs">
                <div>
                  <img class="img-fluid w-75" src="/images/users/<%= Usuario.avatar %> " alt="">

                  <div class="my-2">
                    <input class="form-control w-75 mx-auto" type="file" id="image" name="image">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7">
                <h4 class="dark-color">TUS DATOS PERSONALES</h4>
                <div class="row ">
                  <div class="form-floating mb-3 col-12 col-md-6">
                    <input type="text" value="<%= Usuario.name %>" name="name" class="form-control" id="floatingInput">
                    <label for="floatingInput">
                      Nombre:
                    </label>
                  </div>
                  <div class="form-floating mb-3 col-12 col-md-6">
                    <input type="text" value="<%= Usuario.surname %>" name="surname" class="form-control"
                      id="floatingtext">
                    <label for="floatingtext">
                      Apellido
                    </label>
                  </div>
                  <div class="form-floating mb-3 col-12 col-md-6">
                    <input type="email" value="<%= Usuario.email %>" class="form-control" name="email"
                      id="floatingInput">
                    <label for="floatingInput">
                      Email
                    </label>
                  </div>
                  <div class="form-floating mb-3 col-12 col-md-6">
                    <input type="tel" value="<%= Usuario.telefono %>" class="form-control" name="telefono"
                      id="floatingInput">
                      <label for=" floatingInput">
                    Teléfono
                    </label>
                  </div>
                  <div class="form-floating mb-3 col-12">
                    <input type="text" value="<%= Usuario.direccion %>" class="form-control" name="direccion"
                      id="floatingInput">
                      <label for=" floatingInput">
                    Dirección
                    </label>
                  </div>
                  <div class="form-floating mb-3 col-12 col-md-6">
                    <input type="text" value="<%= Usuario.localidad %>" class="form-control" name="localidad"
                      id="floatingInput" >
                      <label for=" floatingInput">
                    Localidad
                    </label>
                  </div>
                  <div class="form-floating mb-3 col-12 col-md-6">
                    <input type="text" value="<%= Usuario.provincia %>" class="form-control" name="provincia"
                      id="floatingInput" >
                      <label for=" floatingInput">
                    Provincia
                    </label>
                  </div>
                  <div class="col-12">
                    <a class="btn btn-outline-danger">Eliminar Perfil</a>
                    <input class="btn btn-outline-success" type="submit" value="Actualizar-perfil"></input>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form action="/users/delete/<%= Usuario.id %>?_method=DELETE" method="POST" class="card-body__form">
          </form>
        </div>
      </div>
      <%- include("partials/footer") %>
      <script src="/javascript/profileEdit.js"></script>
  </body>

</html>