<%- include('partials/header') %>
<%- include('partials/head') %>
<title>Hamburguesas</title>
	<body>
		<menu class="container">
			<section class="row">
				<div class="titulo col-12">
					<h2 class="oferta">-NUESTRAS BURGER-</h2>
				</div>
				
				<%for (let index = 0; index <8; index++) {%>
					
					<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 1 bebidas-->
						<div class="contenido">
							<figure><a href=""><img src="/images/<%=platos.getproductos().hamburguesas[index].image%>" alt=""></a></figure>

							<h4 class="title"><%=platos.getproductos().hamburguesas[index].name%></h4>
							<h4><span><%=platos.getproductos().hamburguesas[index].price%></span></h4>

							<div class="detalle mt-3 text-center">
								<hr>
								<p><%=platos.getproductos().hamburguesas[index].description%></p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>
			<% } %> 
			
				</menu>		

	</body>	<!--menu-->
		
      
	 <%- include('partials/footer') %>    
		


</html>