<%- include('partials/header') %>
    <%- include('partials/head') %>
	<title>empanadas</title>
	<body>
		<menu class="container">
			<section class="row">
				<div class="titulo col-12">
					<h2 class="oferta">-PIZZASYEMPANADAS-</h2>
				</div>
				
				<%for (let index = 0; index<getproductos().pizzas.length; index++) {%>
					
					<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 1 bebidas-->
						<div class="contenido">
							<figure><a href=""><img src="/images/<%=getproductos().pizzas[index].image%>" alt=""></a></figure>

							<h4 class="title"><%=getproductos().pizzas[index].name%></h4>
							<h4><span><%=getproductos().pizzas[index].price%></span></h4>

							<div class="detalle mt-3 text-center">
								<hr>
								<p><%=getproductos().pizzas[index].description%></p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>
			<% } %> 
			</section>
		
			<section class="row">
				<div class="titulo col-12">
					<h2 class="oferta">-NUESTAS PIZZAS Y EMPANADAS-</h2>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 1 -->
						<div class="contenido">
							<figure><a href=""><img src="/images/pizzaEmpa1.jpg" alt=""></a></figure>

							<h4 class="title">MUZZARELLA</h4>
							<h2><span>500$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p>Grande</p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>

				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 2 -->
						<div class="contenido">
							<figure><a href=""><img src="/images/pizzaempa2.png" alt=""></a></figure>

							<h4 class="title">COMBO1</h4>
							<h2><span>800$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p>6Empanadas 1Napo</p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>

				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 3-->
						<div class="contenido">
							<figure><a href=""><img src="/images/pizzaEmps3.jpg" alt=""></a></figure>

							<h4 class="title">COMBO2</h4>
							<h2><span>1200$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p>12Emp. y Muzza</p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>

				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 3-->
						<div class="contenido">
							<figure><a href=""><img src="/images/pizzaEmpa4.jpg" alt=""></a></figure>

							<h4 class="title">1DOCENA</h4>
							<h2><span>800$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p>Carne</p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>
				</section>
				<section class="row">
					<div class="titulo col-12">
						<h4 class="oferta">-DESCUENTOS ESPECIALES-</h4>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 4 bebidas-->
							<div class="contenido">
								<figure><img src="/images/pizzaEmpa6.jpg" alt=""></figure>
	
								<h4 class="title">COMBO3</h4>
								<h2><span>1200$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p>1Napo 6pollo</p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
	
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 5 -->
							<div class="contenido">
								<figure><img src="/images/pizzaEmps5.jpg" alt=""></figure>
	
								<h4 class="title">VEGANA</h4>
								<h2><span>450$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p>Mix verduras</p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 6 -->
							<div class="contenido">
								<figure><img src="/images/pizzaempanada.png" alt=""></figure>
	
								<h4 class="title">COMBINADA</h4>
								<h2><span>500</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p>palmito/tomate</p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 6 -->
							<div class="contenido">
								<figure><img src="/images/pizzaEmpaPortada.jpg" alt=""></figure>

	
								<h4 class="title">MIX 16</h4>
								<h2><span>1400$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p>Car,ver y pollo</p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
				</section>
				</menu>	

       

							

	</body>	<!--menu-->
		
      
	 <%- include('partials/footer') %>    
		


</html>